<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travel.mapper.RouteMapper">

    <select id="findByPage" resultType="route">
        select * from tab_route where 1=1
        <if test="cid!=0">
            and cid = #{cid}
        </if>
        <if test="rname!=null">
            and rname like '%${rname}%'
        </if>
    </select>

    <select id="findOne" parameterType="java.lang.Integer" resultType="route">
        select * from tab_route where rid = #{rid}
    </select>

    <update id="updateCountByRid">
        update tab_route set count = #{newCount} where rid = #{rid}
    </update>

    <select id="findByRids" resultType="route">
        select * from tab_route where rid in
        <foreach collection="ridList" item="rid" open="(" separator="," close=")">
            #{rid}
        </foreach>
    </select>

    <select id="findRoutesByRank" resultType="route">
        select * from tab_route order by count desc
    </select>
</mapper>